#
#
#NODE_ENV valid values = test,development, staging, production
NODE_ENV = local 
# PORT
PORT = 1337

TLS_ENABLE = "false"


# DATABASE
DB_PATH = "mongodb://127.0.0.1:27017/fortunesoft"
TEST_DB_PATH = "mongodb://127.0.0.1:27017/fortunesoft-test"

# TOKEN
SECRET_KEY = "qwertyuiouio"

# LOG
LOG_DIR = "logs"
LOGGER_LEVEL = "info"


# CORS
ORIGIN = *
CREDENTIALS = "true"

